<section class="our-courses container section">
  <div class="our-courses-top">
    <h2 class="our-courses-h2">
      Our <span class="our-courses-h2-span">Courses</span>
    </h2>
    <h4 class="our-courses-h4">
      At our photography school, we offer a variety of courses that cover all
      aspects of this fascinating art. Regardless of your experience or skill
      level, we have courses to suit your needs and goals.
    </h4>
  </div>
  <ul class="our-courses-list">
    <li class="our-courses-item">
      <div class="our-courses-content">
        <div class="our-courses-item-top">
          <p class="our-courses-number-card">01</p>
          <a class="our-courses-link" href="#">
            <svg width="20" height="20" class="our-courses-icon">
              <use href="./public/favicon.svg#icon-courses-arrow"></use>
            </svg>
          </a>
        </div>
        <h3 class="our-courses-name">Basics of photography</h3>
        <p class="our-courses-description">
          During this course, you will be able to familiarize yourself with
          different types of cameras, learn the basics of composition.
        </p>
      </div>
    </li>
    <li class="our-courses-item">
      <div class="our-courses-content">
        <div class="our-courses-item-top">
          <p class="our-courses-number-card">02</p>
          <a class="our-courses-link" href="#">
            <svg width="20" height="20" class="our-courses-icon">
              <use href="./public/favicon.svg#icon-courses-arrow"></use>
            </svg>
          </a>
        </div>
        <h3 class="our-courses-name">Landscape photography</h3>
        <p class="our-courses-description">
          In this course, you'll learn how to choose the right angles, frame
          landscapes, and create depth and perspective in your images.
        </p>
      </div>
    </li>
    <li class="our-courses-item">
      <div class="our-courses-content">
        <div class="our-courses-item-top">
          <p class="our-courses-number-card">03</p>
          <a class="our-courses-link" href="#">
            <svg width="20" height="20" class="our-courses-icon">
              <use href="./public/favicon.svg#icon-courses-arrow"></use>
            </svg>
          </a>
        </div>
        <h3 class="our-courses-name">Portrait photography</h3>
        <p class="our-courses-description">
          During this course, you will learn to choose the right lighting,
          reproduce the mood and expressions on the faces of the models.
        </p>
      </div>
    </li>
  </ul>
</section>
