

    <header class="header-container">
      <div class="menu-frame">
        <a class="logo"
          ><svg class="logo-svg"><use href="./images /sprite.svg#icon-mob-logo"></use></svg>
            </a
        >
        <div class="menu-icon">
          <svg></svg>
        </div>
        <svg class="burger-menu"></svg>

        <div class="menu-list">
          <nav class="menu-list">
            <li>
              <a class="menu-item current" href="./index.html">About us</a>
            </li>
            <li><a class="menu-item" href="">Our courses</a></li>
            <li><a class="menu-item" href="">Our mentors</a></li>
            <li><a class="menu-item" href="">Reviews</a></li>
            <li><a class="menu-item" href="">contacts</a></li>
          </nav>
        </div>
        <button class="menu-button" type="submit">Sign up</button>
      </div>
      <!--Mobile Menu-->
      <div class="mobile-menu">
        <button type="button" class="close-button">
          <svg></svg>
        </button>
        <ul class="menu-list">
          <li><a class="menu-item current" href="./index.html">About us</a></li>
          <li><a class="menu-item" href="">Our courses</a></li>
          <li><a class="menu-item" href="">Our mentors</a></li>
          <li><a class="menu-item" href="">Reviews</a></li>
          <li><a class="menu-item" href="">contacts</a></li>
        </ul>
        <div class="menu-photo">
          <img src="./images /camera-menu.jpg" alt="camera" />
        </div>
      </div>
    </header>
  </body>
</html>
