<header class="header-container">
  <div class="menu-wrapper">
    <div class="menu-frame">
      <a class="logo" href="#"
        ><svg class="logo-svg" width="127px" height="20px">
          <use href="../img/icons.svg#icon-mob-logo"></use>
        </svg>
      </a>
      <div class="menu-icon">
        <svg class="icon-camera" width="16px" height="16px">
          <use href="../img/icons.svg#icon-mob-camera"></use>
        </svg>
      </div>
      <svg class="burger-menu" width="32px" height="22px">
        <use href="../img/icons.svg#icon-mob-navigation"></use>
      </svg>

      <nav class="menu-nav">
        <ul class="menu-list">
          <li>
            <a class="menu-item current" href="./index.html">About us</a>
          </li>
          <li><a class="menu-item" href="">Our courses</a></li>
          <li><a class="menu-item" href="">Our mentors</a></li>
          <li><a class="menu-item" href="">Reviews</a></li>
          <li><a class="menu-item" href="">contacts</a></li>
        </ul>
      </nav>
    </div>
    <div class="sign-up"><a href="#sign-up">Sign up</a></div>
  </div>
</header>
