

    <header class="header-container">
      <div class="menu-frame">
        <a class="logo"
          ><svg class="logo-svg" width="123px" height="16px"><use href="../img/icons.svg#icon-mob-logo"></use></svg>
            </a
        >
        <div class="menu-icon">
          <svg class="icon-camera" width="16px" height="16px"><use href="../img/icons.svg#icon-mob-camera"></use>

          </svg>
        </div>
        <svg class="burger-menu" width="32px" height="22px"><use href="../img/icons.svg#icon-mob-navigation"></use></svg>

        <div class="menu-nav">
          <nav class="menu-list">
            <li>
              <a class="menu-item current" href="./index.html">About us</a>
            </li>
            <li><a class="menu-item" href="">Our courses</a></li>
            <li><a class="menu-item" href="">Our mentors</a></li>
            <li><a class="menu-item" href="">Reviews</a></li>
            <li><a class="menu-item" href="">contacts</a></li>
          </nav>
        </div>
        <button class="menu-button" type="submit">Sign up</button>
      </div>
      <!--Mobile Menu-->
      <div class="mobile-menu">
        <button type="button" class="close-button">
          <svg class="close-btn-menu" width="32" height="32"><use href=..img/icons.svg#icon-mob-menu-close></use></svg>
        </button>
        <ul class="menu-list">
          <li><a class="menu-item current" href="./index.html">About us</a></li>
          <li><a class="menu-item" href="">Our courses</a></li>
          <li><a class="menu-item" href="">Our mentors</a></li>
          <li><a class="menu-item" href="">Reviews</a></li>
          <li><a class="menu-item" href="">contacts</a></li>
        </ul>
        <div class="menu-photo">
          <img src="../img/hero-mob-menu/mob.jpg" alt="camera" />
        </div>
      </div>
    </header>
  </body>
</html>
