<section class="reviews">
    <div class="container">
        <h2 class="riviews-name">Reviews</h2>
    <div class="cards">
        <div class="cards-box">
            <div class="student">
                <img srcset="./img/reviews/abraham-baker.jpg 1x, ./img/reviews/abraham-baker@2x.jpg 2x" 
                src="../img/reviews/abraham-baker.jpg" alt="student" class="images">
                <div class="team">
                    <div class="student-name">
                        <h3 class="std-name">Abraham Baker</h3>
                        <p class="std">Student</p>
                    </div>
                    <div class="stars">
                        <ul class="std-stars">
                            <li>
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none">
                                    <use href="./public/favicon.svg#icon-reviews-star" ></use>
                                </svg>
                            </li>
                            <li>
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none">
                                    <use href="./public/favicon.svg#icon-reviews-star"></use>
                                </svg>
                            </li>
                            <li>
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none">
                                    <use href="./public/favicon.svg#icon-reviews-star"></use>
                                </svg>
                            </li>
                            <li>
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none">
                                    <use href="./public/favicon.svg#icon-reviews-star"></use>
                                </svg>
                            </li>
                            <li>
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" class="last-star">
                                    <use href="./public/favicon.svg#icon-reviews-star"></use>
                                </svg>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
          
            <div class="text">
                <p class="text-bloc">
                    I am very pleased that I decided to enroll in photography school. 
                    The teachers turned out to be very talented and experienced professionals who share their knowledge and are dedicated to their work. 
                    I was able to expand my skills and discover my own style.
                </p>
            </div>
        </div>
        <div class="cards-box two">
            <div class="student">
                <img srcset="./img/reviews/amanda-lowery.jpg 1x, ./img/reviews/amanda-lowery@2x.jpg 12x, "
                src="../img/reviews/amanda-lowery.jpg" alt="student" class="images">
                <div class="team">
                    <div class="student-name">
                        <h3 class="std-name">Amanda Lowery</h3>
                        <p class="std">Student</p>
                    </div>
                    <div class="stars">
                        <ul class="std-stars">
                            <li>
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none">
                                    <use href="./public/favicon.svg#icon-reviews-star" ></use>
                                </svg>
                            </li>
                            <li>
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none">
                                    <use href="./public/favicon.svg#icon-reviews-star"></use>
                                </svg>
                            </li>
                            <li>
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none">
                                    <use href="./public/favicon.svg#icon-reviews-star"></use>
                                </svg>
                            </li>
                            <li>
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none">
                                    <use href="./public/favicon.svg#icon-reviews-star"></use>
                                </svg>
                            </li>
                            <li>
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" class="last-star">
                                    <use href="./public/favicon.svg#icon-reviews-star"></use>
                                </svg>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="text">
                <p class="text-bloc">
                    The courses at the photography school exceeded all my expectations. 
                    I gained not only technical knowledge, but also inspiration and motivation to reach new heights in my creativity. 
                    Hands-on classes and workshops helped me understand different styles of photography.
                </p>
            </div>
        </div>
    </div>
    </div>
</section>