<section class="signup section" id="sign-up">
  <div class="signup-container container">
    <div class="signup-form">
      <h3 class="signup-title">Sign <span class="up">Up</span></h3>
      <p class="modal-caption">
        Please use the form below to contact us. Enter your name, email, and
        message and we'll get back to you shortly.
      </p>

      <!--FORM FORM-->
      <form name="modal">
        <div class="form-wrapper">
          <div class="form-field">
            <input
              class="form-imput saved-text"
              id="user-name"
              name="user-name"
              type="text"
              placeholder="Enter your name"
              pattern="[A-Za-z]+"
              class="saved-text"
            />
          </div>
        </div>

        <div class="form-wrapper">
          <div class="form-field">
            <input
              class="form-imput saved-text"
              id="user-email"
              name="user-email"
              type="email"
              placeholder="Enter your email"
              pattern="[A-Za-z]+"
            />
          </div>
        </div>

        <div class="form-wrapper-text">
          <textarea
            class="form-massage saved-text"
            name="user-comment"
            id="user-comment"
            rows="3"
            placeholder="Message"
          ></textarea>
        </div>

        <button class="modal-button" type="submit">SEND</button>

        <span class="form-agreement">
          By clicking on “Send” button, you agree to our
          <a class="form-agreement-link" href=""> Privacy Policy</a>, &shy; and
          allow Promodo to use this information for marketing purposes.
        </span>
      </form>
    </div>
    <!--FORM FORM-->
    <ul class="signup-photo">
      <li class="lens">
        <img
          class="shadow"
          srcset="
            ./img/sing-up/objective_desc1280.png    1x,
            ./img/sing-up/objective_desc1280@2x.png 2x
          "
          src="./img/sing-up/objective_desc1280.png"
          alt="Lens"
          loading="lazy"
        />
      </li>
      <li class="camera">
        <img
          srcset="
            ./img/sing-up/fotoap_desc1280.png    1x,
            ./img/sing-up/fotoap_desc1280@2x.png 2x
          "
          src="./img/sing-up/fotoap_desc1280.png"
          alt="camera"
          loading="lazy"
        />
      </li>
    </ul>
  </div>
</section>
