.our-courses {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  align-items: center;
  max-width: 1240px;
  margin: auto;
  flex-direction: column;
}

@media only screen and (min-width: 320px) and (max-width: 375px) {
  .our-courses {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .our-courses {
    width: 100%;
    max-width: 768px;
  }
}

@media only screen and (min-width: 1280px) {
  .our-courses {
    width: 100%;
    max-width: 1440px;
    gap: 50px;
  }
}

.our-courses-top {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  margin-bottom: 50px;
}

@media only screen and (min-width: 768px) {
  .our-courses-top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: row;
    max-width: 704px;
  }
}

@media only screen and (min-width: 1280px) {
  .our-courses-top {
    width: 100%;
    max-width: 1080px;
  }
}

@media only screen and (min-width: 1440px) {
  .our-courses-top {
    max-width: 1240px;
  }
}

.our-courses-h2 {
  color: #fff;
  font-family: DM Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -1.12px;
}

@media only screen and (min-width: 768px) {
  .our-courses-h2 {
    font-size: 48px;
    line-height: 54px;
    letter-spacing: -1.92px;
  }
}

.our-courses-h2-span {
  color: #bea69e;
  font-family: DM Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -1.12px;
}

@media only screen and (min-width: 768px) {
  .our-courses-h2-span {
    font-size: 48px;
    line-height: 54px;
    letter-spacing: -1.92px;
  }
}

.our-courses-p {
  color: #fff;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.28px;
}

@media only screen and (max-width: 320px) {
  .our-courses-p {
    width: 100%;
    max-width: none;
  }
}

@media only screen and (min-width: 768px) {
  .our-courses-p {
    width: 381px;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.32px;
  }
}

@media only screen and (min-width: 1280px) {
  .our-courses-p {
    width: 405px;
  }
}
@media only screen and (min-width: 1440px) {
  .our-courses-p {
    width: 565px;
  }
}

.our-courses-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 320px) {
  .our-courses-list {
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (min-width: 768px) {
  .our-courses-list {
    max-width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

@media only screen and (min-width: 1280px) {
  .our-courses-list {
    max-width: 1081px;
    width: 100%;
    justify-content: center;
    gap: 20px;
    flex-wrap: nowrap;
  }
}

@media only screen and (min-width: 1440px) {
  .our-courses-list {
    max-width: 1240px;
  }
}

.our-courses-item {
  max-width: 335px;
  width: 100%;
  flex-shrink: 0;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: linear-gradient(180deg, #060707 0%, #1d1d1d 100%);
}

@media only screen and (max-width: 320px) {
  .our-courses-item {
    max-width: 100%;
  }
}

@media only screen and (min-width: 1280px) {
  .our-courses-item {
    max-width: 347px;
    width: 100%;
  }
}

@media only screen and (min-width: 1440px) {
  .our-courses-item {
    max-width: 400px;
  }
}

.our-courses-content {
  max-width: 100%;
  padding: 28px;
}

@media only screen and (min-width: 768px) {
  .our-courses-content {
    width: 100%;
  }
}

@media only screen and (min-width: 1440px) {
  .our-courses-content {
    width: 400px;
    max-width: 100%;
  }
}

.our-courses-item-top {
  display: inline-flex;
  justify-content: center;
  align-items: flex-start;
  gap: 229px;
  width: 100%;
}

@media only screen and (max-width: 375px) {
  .our-courses-item-top {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
  }
}

@media only screen and (min-width: 1440px) {
  .our-courses-item-top {
    gap: 286px;
  }
}

.our-courses-icon {
  fill: #1d1d1d;
}
.our-courses-number-card {
  color: rgba(255, 255, 255, 0.4);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.28px;
  padding-bottom: 32px;
}
.our-courses-link {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  background-color: #1d1d1d;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-left: auto;
}
.our-courses-name {
  width: 265px;
  color: #fff;
  font-family: DM Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  padding-bottom: 200px;
}

@media only screen and (min-width: 320px) {
  .our-courses-name {
    padding-bottom: 164px;
  }
}

@media only screen and (min-width: 768px) {
  .our-courses-name {
    padding-bottom: 180px;
  }
}

@media only screen and (min-width: 1440px) {
  .our-courses-name {
    padding-bottom: 200px;
  }
}

.our-courses-description {
  max-width: 279px;
  width: 100%;
  color: rgba(255, 255, 255, 0.5);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.32px;
}

@media only screen and (max-width: 320px) {
  .our-courses-description {
    width: 100%;
    max-width: none;
  }
}

@media only screen and (min-width: 768px) {
  .our-courses-description {
    max-width: 278px;
    font-size: 16px;
    line-height: 20px;
  }
}

@media only screen and (min-width: 1280px) {
  .our-courses-description {
    max-width: 283px;
    font-size: 16px;
  }
}

@media only screen and (min-width: 1440px) {
  .our-courses-description {
    width: 336px;
    max-width: 100%;
  }
}
