/* Header*/

.header-container {
  background: #121212;
  max-width: 375px;
  margin: 0 auto;
}
.menu-frame {
  width: 335px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: #121212;
  margin: 20px;
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  padding-left: 20px;
  align-items: center;
}

.logo-svg {
  fill: #fff;
}
.menu-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  background-color: #1d1d1d;
  border-radius: 50%;
  margin-right: 14px;
  margin-left: auto;
}
.icon-camera {
  position: center;
}

.menu-icon:hover .icon-camera,
.menu-icon:focus .icon-camera {
  fill: rgba(190, 166, 158, 1);
}

.sign-up,
.menu-list {
  display: none;
}

@media only screen and (min-width: 768px) {
  .header-container {
    max-width: 768px;
    padding: 20px 32px;
  }
  .menu-frame {
    width: 504px;
    height: 60px;
    justify-content: space-between;
  }

  .menu-icon,
  .menu-nav {
    display: none;
  }
  .sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background: #fff;
    color: #121212;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
    text-transform: uppercase;
    width: 186px;
    height: 60px;
    justify-self: end;
  }
  .sign-up:hover,
  .sign-up:focus {
    color: #bea69e;
    background-color: #1d1d1d;
  }
  .menu-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo-svg {
    width: 123px;
    height: 16px;
  }
  .burger-menu {
    width: 40px;
    height: 28px;
  }
}
@media only screen and (min-width: 1280px) {
  .header-container {
    max-width: 1280px;
    padding-left: 100px;
    padding-right: 100px;
  }
  .menu-frame {
    width: 822px;
    padding-left: 50px;
    padding-right: 50px;
  }
  .sign-up {
    width: 238px;
  }
  .menu-list {
    display: inline-flex;
    align-items: flex-start;
    gap: 28px;
  }
  .menu-item {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }
  .menu-item.current:hover,
  .menu-item.current:focus {
    color: #bea69e;
    font-weight: 700;
  }
  .menu-nav {
    display: flex;
  }
  .burger-menu {
    display: none;
  }
}
