/* Header*/

.header-container {
  background: #121212;
  max-width: 375px;
  margin: 0 auto;
}
.menu-frame {
  max-width: 335px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: #121212;
  margin: 20px;
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  padding-left: 20px;
  align-items: center;
}

 {
}
.navigation {
}
.logo {
}
.log-svg {
  fill: #fff;
}
.menu-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  background-color: #1d1d1d;
  border-radius: 50%;
  margin-right: 14px;
  margin-left: auto;
}
.icon-camera {
}
.burger-menu {
}
.menu-nav {
  display: none;
}

@media only screen and (min-width: 768px) {
  .menu-nav {
    display: flex;
  }
}
.menu-item {
}
.current {
}
.menu-button {
  display: none;
}
@media only screen and (min-width: 768px) {
  .menu-button {
    display: block;
  }
   {
  }
}

/*Mobile menu*/
.mobile-menu {
  width: 218px;
  height: 100%;

  background: #bea69e;
  position: fixed;
  top: 0;
  right: 0;
  margin: 0 auto;
  margin-bottom: auto;
  transform: translateX(100%);
  visibility: hidden;
  transition: transform 600ms ease, visibility 600ms ease;
}
.mobile-menu.is-open {
  transform: translateX(0);
  visibility: visible;
}
.close-button {
  display: flex;
  background-color: transparent;
  margin-right: 20px;
  margin-top: 20px;
  margin-left: auto;
  border: none;
}
.close-btn-menu {
  fill: rgba(18, 18, 18, 1);
}
.menu-nav-mobile {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  counter-reset: rgba(18, 18, 18, 1);
  margin-left: 20px;
  margin-top: 180px;
}
.menu-item-mobile {
  color: #121212;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.menu-item-mobile.current {
  font-weight: 700;
}
.menu-photo {
  width: 329px;
  height: 218px;
  flex-shrink: 0;
  bottom: 0;
  margin-bottom: auto;
}

@media only screen and (min-width: 768px) {
  .mobile-menu {
    width: 480px;
  }
}
@media only screen and (min-width: 1280px) {
  .mobile-menu {
    display: none;
  }
}
