@import url('./about.css');
@import url('./adverticement.css');
@import url('./base.css');
@import url('./courses.css');
@import url('./footer.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./mentors.css');
@import url('./reset.css');
@import url('./reviews.css');
@import url('./singup.css');
@import url('./mob-menu.css');
@import url('./wrapper-cell.css');