.wrapper-cell {
    padding: 20px 0 80px;
    background-image: 
    url(../img/background-cell/Graphicmob_header-hero.png);
    background-repeat: no-repeat;
    background-size: contain;
}


@media screen and (min-width: 768px) {
.wrapper-cell {
    padding-bottom: 100px;
    background-image: 
    url(../img/background-cell/Graphictab_header-hero.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
}

@media screen and (min-width: 1280px) {
.wrapper-cell {
    padding-bottom: 150px;
    background-image: 
    url(../img/background-cell/Graphic1280_header-hero.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
}

@media screen and (min-width: 1440px) {
.wrapper-cell {
    background-image: 
    url(../img/background-cell/Graphic1440_header-hero.png);
    background-repeat: no-repeat;
    background-size: contain;
    }
}
